/*1 - 1 рядок, 2 машини
2 - 2 рядка, 5 машин
3 - 2 рядка, 4 машини
4 - 2 рядка, 4 машини
5 - 1 рядок, 2 машини
6 - 1 рядок, 1 машина
7 - 1 рядок, 2 машини
8 - 2 рядка, 6 машин
9 - 7 рядків, 19 машин*/

body
{
	font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #4D4D4D;
    
}

html
{
    box-sizing: border-box;
}

*, *; before, *after
{
    box-sizing: inherit;
}

.flex-nav img
{
    width: 66px;
    height: 66px;
}

.flex-nav a
{
    /*background: rgba(77, 0, 0, 0.2);*/
    color: #4D4D4D;
    text-decoration: none;
    padding: 20px 5px;
    width: 100%;
    text-align: center;
    font-weight: 400;/*вага жирнисть шрыфту*/
    letter-spacing: 2;
}

/*.AAA
{
    margin-left: 10%;
    margin-right: 10%;
}*/

.numbers a:active
{
    transition: 1s;
}

.numbers
{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.numbers a
{
    text-decoration: none;
    color: white;
    border-bottom: 3px solid #4D4D4D;
    padding: 7px 15px;
}

.numbers a h1
{
    text-align: center;
    margin: 0;
}

.numbers a:hover/*при наведенни курсору миши*/
{
    border-bottom: 3px solid white;
}

.flex-nav a:hover
{
    color: black;
}

.flex-nav i
{
    color: black;
}

ul
{
    list-style: none;
}

.wrapper
{
    margin: 10px 20px;
} 

.flex-nav ul
{
    background-color: #DEDEDE;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0;
    padding: 10px 20px;
    align-items: 10px 20px;

}

.flex-nav .links
{
   flex-grow: 3;
   font-size: large;
}

.flex-nav .lupa
{
   flex-grow: 0;
   font-size: 20px;
}

.flex-nav .social
{
   flex-grow: 0;
   padding-left: 70px;
   font-size: 20px;
}

.flex-nav img
{
   flex-grow: 1;
}

hr 
{
margin: 0;
}

.catalog
{
    display: grid;
    grid-gap: 10px;
    background-color: #DEDEDE;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 10px;
}

.catalog1
{
    grid-template-columns: repeat(3, minmax(300px,1fr));
    grid-template-rows: repeat(1, 1fr);
}

.catalog2
{
    grid-template-columns: repeat(3, minmax(300px,1fr));
    grid-template-rows: repeat(2, 1fr);
}

.catalog3
{
    grid-template-columns: repeat(3, minmax(300px,1fr));
    grid-template-rows: repeat(2, 1fr);
}

.catalog4
{
    grid-template-columns: repeat(3, minmax(300px,1fr));
    grid-template-rows: repeat(2, 1fr);
}

.catalog5
{
    grid-template-columns: repeat(3, minmax(300px,1fr));
    grid-template-rows: repeat(1, 1fr);
}

.catalog6
{
    grid-template-columns: repeat(3, minmax(300px,1fr));
    grid-template-rows: repeat(1, 1fr);
}

.catalog7
{
    grid-template-columns: repeat(3, minmax(300px,1fr));
    grid-template-rows: repeat(1, 1fr);
}

.catalog8
{
    grid-template-columns: repeat(3, minmax(300px,1fr));
    grid-template-rows: repeat(2, 1fr);
}

.catalog9
{
    grid-template-columns: repeat(3, minmax(300px,1fr));
    grid-template-rows: repeat(1, 1fr);
}

h1
{
    color: white;
    margin-left: 25px;
    font-size: 33px;
}

.carmodel
{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.carmodel h2
{
    font-size: 17px;
    color: #4D4D4D;
}

.carmodel h3
{
    font-size: 15px;
    color: #4D4D4D;
}

.new
{
    background-color: #4D4D4D;
    border-radius: 10px;
    color: white;
    position: relative;
}

.new .newTitle
{
    position: absolute;
    right: 7px;
    top: 5px;
    font-size: 13px;
    background-color: #DEDEDE;
    padding: 3px;
    border-radius: 5px;
    color: #4D4D4D;
}

.alt
{
    background-color: black;
    border-radius: 5px;
    color: white;
}

.carmodel a img:hover
{
    transition: 0.5s;
    transform: scale(1.2);
}

.carmodel img
{
    transition: 0.5s;
}

.new h2, .new h3
{
    color: white;
}

.carmodel img
{
    width: 110%;
}

footer
{
    display: grid;
    grid-template-columns: repeat(3, minmax(300px,1fr));
    color: #DEDEDE;
    grid-gap: 10px;
    background-color: #DEDEDE;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

footer h1
{
    margin-left: 0;
    color: black;
}

.grid1, .grid2, .grid3
{
    justify-self: center;
    align-self: start;
    /*border: 2px solid black;*/
    text-align: center;
}

.grid1 a, .grid2 a, .grid3 a
{
    color: #4D4D4D;
    text-decoration: none;
}

.grid1 a:hover, .grid2 a:hover, .grid3 a:hover
{
    color: #909090;
    /*opacity: 0.5; он задает уровень прозрачности*/
}

:root
{
    gray-color: #DEDEDE;
}

:root
{
    darkgray-color: #4D4D4D;
}

#scrollToTopButton
{
    display: none;
    position: fixed;
    bottom: 20px;    
    right: 20px;
    padding: 10px 10px;
    background-color: #A5A5A5;
    color: #4D4D4D;
    font-size: 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    z-index: 1;
}

#scrollToTopButton:hover
{
    background-color: #A4A4A4;
}

@media all and (max-width: 1000px)
{
    body
    {
        /*background-color: yellowgreen;
        color: black;*/
    }

    .flex-nav ul
    {
        flex-wrap: wrap;
    }

    .flex-nav .links
    {
        flex: 1 1 100%;
        align-self: center;
    }

    .flex-nav #iconlupa
    {
        padding-right: 50%;
        align-self: center;
    }

    .flex-nav .social
    {
        flex: 1 1 25%;
        align-self: center;
        padding-left: 0;
    }

    .flex-nav .links
    {
        flex-grow: 4;
    }

    .catalog
    {
        grid-template-columns: repeat(2, minmax(200px,1fr));
    }

    .new h2
    {
        font-size: minmax(15px);
    }

    .new h3
    {
        font-size: minmax(10px);
    }

    footer
    {
        grid-template-columns: repeat(1, minmax(300px,1fr));
    }
}


@media all and (max-width: 600px)
{
    body
    {
        /*background-color: green ;
        color: red;*/
    }

    .catalog
    {
        grid-template-columns: repeat(1, minmax(300px,1fr));
    }

    .new h2
    {
        font-size: minmax(10px);
    }

    .new h3
    {
        font-size: minmax(5px);
    }

    footer
    {
        grid-template-columns: repeat(1, minmax(300px,1fr));
    }
}

.details
{
    position: fixed;
    width: 80vw;/*vw - відносно width*/
    height: 100vh;/*vh - відносно height*/
    background-color: #A5A5A5;
    /*border: 2px solid black;*/
    top: 0px;
    right: 0px;
    z-index: 1;
    display: none;
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
    /*polygon(лівий верхній кут, правий верхній кут, правий нижній кут, ливій нижній кут);*/
}

.line
{
    width: 80vw;
    height: 100vh;
    position: absolute;
}
.line1
{
    clip-path: polygon(10% 0, 13% 0, 3% 100%, 0 100%);
    background-color: #0A5FAC;
}
.line2
{
    clip-path: polygon(10% 0, 13% 0, 3% 100%, 0 100%);
    background-color: #013976;
    left: 3%;
}
.line3
{
    clip-path: polygon(10% 0, 13% 0, 3% 100%, 0 100%);
    background-color: #E5230E;
    left: 6%;
}

.details_content img
{
    transform: scale(0.9);
    padding: 0px;
    position: relative;
    top: 5vh;
    right: 16%;
}

.details_content h2
{
    font-size: xx-large; 
    margin: 0px; 
}

.details_content h4
{
    font-size: 24px; 
    margin: 0px; 
}

.details_content p
{
    font-size: 18px;  
    text-align: left;
}

.details_content
{
    width: 50vw;
    position: absolute;
    left: 20%;
    bottom: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    margin: 0px;
}

.close
{
   position: absolute;
   top: 5vh;
   right: 5vh;
   font-size: xx-large;
   text-decoration: none;
   color: #4D4D4D;
}

.learn_more
{
    border: 5px solid #013976;
    border-radius: 10px;
    padding: 20px;
    font-size: large;
    align-self: center;
    margin-top: 10px;
}
.learn_more a
{
    color: #4D4D4D;
    text-decoration: none;
}

.learn_more:hover
{
    background-color: #DEDEDE;
}

.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 1;

}

